 <h1>MY PORTFOLIO</h1>
<div class="container">
 
  <div class="sidebar">
    <img src="assets/jam.png" class="profile-img" alt="Profile Picture">

    <h1>Meljam C. Torrecampo</h1>

    <div class="contact">
      <p>Email: meljam.torrecampo&#64;evsu.edu.ph</p>
      <p>Phone: 09925565359</p>
      <p>Location: Brgy. Tigbao, Dulag, Leyte</p>
    </div>

  </div>

  <div class="main-content">
    <section>
      <h2>About Me</h2>
      <p> pogi ako</p>
    </section>

    <section>
      <h2>Experience</h2>
        <p> waray pa | since birth</p>
        <p> good boi</p>

        <p>tumatopspeed broom! broom!</p>
    </section>

    <section>
      <h2>Projects</h2>
      <div class="projects">
        <div class="project-card">
          <img src="assets/project.png" alt="project">
          <img src="assets/project2.png" alt="project2">
          <img src="assets/project3.png" alt="project3">
          <h3>my output</h3>
        </div>
