body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 30px auto;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.sidebar {
  width: 30%;
  background-color: #000000;
  color: white;
  padding: 30px;
  text-align: center;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 4px solid white;
}

.sidebar h1 {
  margin: 10px 0 5px;
}

.sidebar h3 {
  margin-bottom: 20px;
  font-weight: normal;
}

.contact p {
  font-size: 14px;
}

.skills ul {
  list-style: none;
  padding: 0;
}

.skills li {
  background: #000000;
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
  font-size: 14px;
}

.main-content {
  width: 70%;
  padding: 30px;
}

.main-content h2 {
  border-bottom: 2px solid #1e293b;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.experience {
  margin-bottom: 20px;
}

.projects {
  display: flex;
  gap: 10px;
  flex-wrap:wrap;
}

.project-card img {
  width: 75%;
  height: 250px;
  object-fit:cover;
  border-radius: 50px;
}
